@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Nunito:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    color: rgb(42, 40, 44);
}

/* generic rule for all buttons */
button,
#reset-btn {
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    padding: 1.2rem 1.8rem;
}

/* Header styling */
header {
    width: 100vw;
    height: 16vh;
    background-color: rgba(44, 52, 60, .6);
    font-size: 1rem;
    padding: 0 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    position: absolute;
}

header * {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Lora', serif;
    text-align: center;
}

/* Logo styling */
#bim-logo h1 {
    font-size: 2.8rem;
    font-weight: lighter;
}

#bim-logo hr {
    border-bottom: 1.8px solid;
    width: 100%;
    margin: 0.15rem auto;
}

#bim-logo p {
    letter-spacing: 0.1rem;
}

.nav-flex-container {
    display: flex;
    gap: 4rem;
}

.nav-flex-item {
    list-style-type: none;
    text-transform: uppercase;
}

.active {
    padding: 0.2rem;
    box-shadow: rgba(255, 255, 255, 0.2) -3px 3px, rgba(255, 255, 255, 0.1) -6px 6px;
}

nav a:hover {
    color: rgb(197, 192, 185);
    box-shadow: 0 12px 16px 0 rgba(44, 52, 60, 0.24), 0 17px 50px 0 rgba(44, 52, 60, 0.19);
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
}

/* hero image */
.hero-outer {
    width: 100vw;
    height: 100vh;
    margin-bottom: 4rem;
    background: url(../images/hero-image.jpg) no-repeat 40% 37%;
    background-size: 100%;
}


.hero-content {
    background-color: rgba(44, 52, 60, .6);
    background-size: 100%;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 3rem;
    height: 100%;
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
}

.hero-content-text {
    max-width: 60%;
    background-color: rgba(44, 52, 60, .9);
    border: 1px solid white;
    padding: 2rem;
    align-self: center;
}

.hero-content span {
    font-family: 'Lora', serif;
    font-weight: bold;
}

.book-btn {
    margin-top: 2rem;

    background-color: rgba(44, 52, 60, .9);
    color: rgb(197, 192, 185);
    box-shadow: 0 12px 16px 0 rgba(197, 192, 185, 0.24), 0 17px 50px 0 rgba(197, 192, 185, 0.19);
    align-self: center;
}

.book-btn:hover {
    background-color: rgb(197, 192, 185);
    color: rgba(44, 52, 60, .9);
    box-shadow: 0 12px 16px 0 rgba(44, 52, 60, 0.24), 0 17px 50px 0 rgba(44, 52, 60, 0.19);
}

/* Genres taught styles */
#genres-taught {
    margin-top: 6rem;
    text-align: center;
}

#genres-taught p {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    line-height: 4rem;
}

#genres-taught h2 {
    font-family: 'Lora', serif;
    text-transform: uppercase;
    margin-top: 5rem;
    font-size: 2.2rem;
    text-align: center;
}

/* grid for laying out genres in two columns and two rows */

.genres-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 320px;

    margin: 3rem;
}

/* background images and styles for each genre box */
#ballet-box {
    background: url(../images/ballet.jpg) no-repeat 20% 40%;
    background-size: cover;
}

#jazz-box {
    background: url(../images/jazz.jpg) no-repeat 20% 40%;
    background-size: cover;
}

#contemporary-box {
    background: url(../images/contemporary.jpg) no-repeat 20% 40%;
    background-size: cover;
}

#afro-box {
    background: url(../images/afro.jpg) no-repeat 20% 40%;
    background-size: cover;
}

.genre-box {
    position: relative;
}

.genre-label {
    width: 100%;
    background-color: rgba(197, 192, 185, 0.4);

    position: absolute;
    text-transform: uppercase;
    font-size: 1.5rem;
}

/* position first row genre labels at the bottom of the container and left align text and do the opposite with the second row */
#ballet-box .genre-label,
#jazz-box .genre-label {
    bottom: 0;
}

#ballet-box .genre-label p,
#jazz-box .genre-label p {
    float: left;
    text-align: left;
    margin-left: 2rem;
}

#contemporary-box .genre-label,
#afro-box .genre-label {
    top: 0;
}

#contemporary-box .genre-label p,
#afro-box .genre-label p {
    float: right;
    text-align: right;
    margin-right: 2rem;
}

.btn-cream-bg {
    background-color: rgb(197, 192, 185);
    color: rgba(44, 52, 60);
    box-shadow: 0 12px 16px 0 rgba(197, 192, 185, 0.24), 0 17px 50px 0 rgba(197, 192, 185, 0.19);
}

.btn-cream-bg:hover {
    background-color: rgba(44, 52, 60, .9);
    color: rgb(197, 192, 185);
    box-shadow: 0 12px 16px 0 rgba(44, 52, 60, 0.24), 0 17px 50px 0 rgba(44, 52, 60, 0.19);
}

.classes-btn {
    text-align: center;
    margin-top: 3.5rem;
}

/* Meet the team section styles */
#meet-the-team {
    background-color: rgb(197, 192, 185);
    margin-top: 6.5rem;
    padding: 4rem;
    /* flexbox to position content and button inside of the section */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#meet-the-team-text-box {
    font-family: 'Lora', serif;
    width: 40%;
    line-height: 3rem;
}

#meet-the-team-btn {
    background-color: rgba(44, 52, 60, 0.4);
    color: rgb(255, 255, 255);
    box-shadow: 0 12px 16px 0 rgba(197, 192, 185, 0.24), 0 17px 50px 0 rgba(197, 192, 185, 0.19);
}

#meet-the-team-btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgba(44, 52, 60, .9);
    box-shadow: 0 12px 16px 0 rgba(44, 52, 60, 0.24), 0 17px 50px 0 rgba(44, 52, 60, 0.19);
}

/* styles for pricing section */

#pricing {
    text-align: center;
    margin-top: 6rem;
    border-bottom: 1px solid rgb(197, 192, 185);
    padding-bottom: 4rem;
}

#pricing h2 {
    font-family: 'Lora', serif;
}

#pricing p {
    width: 50%;
    margin: 0 auto;
    line-height: 4rem;
}

#pricing button {
    margin-top: 4rem;
}

/* Location styling */
#location {
    text-align: center;
    margin: 6rem auto;
}

iframe {
    width: 100%;
    margin-top: 2rem;
}

/* Scroll back to top button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 5px;
    z-index: 99;
    border: 1px solid rgb(197, 192, 185);
    outline: none;
    background-color: rgb(44, 52, 60);
    color: rgb(197, 192, 185);
    cursor: pointer;
    padding: 10px;
    font-size: 1rem;
}


#myBtn:hover {
    background-color: rgb(197, 192, 185);
    color: rgb(44, 52, 60);
}

/* Footer */

footer {
    background-color: rgb(44, 52, 60);
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    /* Flexbox for making the blocks equal in size and positioned on a single row */
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    /* margin-top: 2rem; */
}

footer>* {
    flex: 1;
}

footer h2 {
    font-family: 'Lora', serif;
    color: rgb(197, 192, 185);
    margin-bottom: 1rem;
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.footer-flex-item {
    flex-grow: 1;
    margin: 2rem;
}

.footer-flex-item:nth-child(2),
.footer-flex-item:nth-child(3) {
    text-align: center;
}

.footer-flex-item:nth-child(3) {
    align-self: center;
}

#social-container {
    /* Grid on social media div to distribute 2 links on each row */
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 6rem;
    height: 100%;
    align-items: center;
}

#social-container>* {
    list-style: none;
}

#social-container i {
    font-size: 2.5rem;
    color: rgb(197, 192, 185);
}



/* Styles for instuctors.html */

.hero-instructors {
    background: url(../images/instructors-img.jpg) no-repeat 40% 37%;
}

.hero-shortened {
    background-size: 100%;
    max-height: 60vh;
}

#instructors-hero-text,
#classes-hero-text {
    min-width: fit-content;
    font-family: 'Lora', serif;
    font-size: 1rem;
}

.instructor-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 2rem;
}

.instructor-2,
.instructor-4 {
    flex-direction: row-reverse;
    background-color: rgb(197, 192, 185);
}

.instructor-specifics h3 {
    font-family: 'Lora', serif;
    font-size: 3.5rem;
}

.instructor-details p {
    max-width: 50vw;
    padding-top: 2rem;
    border-top: 1px dotted rgb(197, 192, 185);
}

.instructor-2 p,
.instructor-4 p {
    border-top: 1px dotted black;
}

.instructor-box img {
    border-radius: 50%;
}

.buttons-section {
    margin: 6rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.buttons-section button {
    margin-top: 0;
}

/* Classes & Pricing styles */

#classes-and-prices-main {
    text-align: center;
}

.hero-classes {
    background: url(../images/classes-img.jpg) no-repeat 40% 49%;
}

#classes-timetable {
    padding-bottom: 3rem;
    border-bottom: 1px solid rgb(197, 192, 185);
}

#legend-block {
    display: flex;
    justify-content: space-between;
    margin: 6rem;
}

.level-legend {
    text-align: center;
}

.level-legend h3 {
    font-size: 1rem;
}

.color-legend {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: inline-block;
}

.beg-legend {
    background-color: rgb(197, 192, 185);
}

.int-legend {
    background-color: rgb(44, 52, 60);
}

#small-screen-classes {
    display: none;
}

table {
    margin: 4rem auto;
    border-spacing: 0;
}

table * {
    border: 1px solid black;
}

th {
    font-family: 'Lora', serif;
}

th:nth-of-type(1) {
    border: none;
}

td {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.5rem;
}

.beg-bg {
    background-color: rgb(197, 192, 185);
}

.int-bg {
    background-color: rgb(44, 52, 60);
    color: rgb(197, 192, 185);
}

#prices {
    margin: 4rem auto;
    width: 70vw;
}

#prices ul {
    list-style-type: "-";
    margin: 3rem 0 6rem;
}

#prices li {
    margin-top: 4rem;
}

#prices h3 {
    font-family: 'Lora', serif;
}

#prices p {
    font-size: 1.8rem;
}

.price-style {
    font-style: italic;
    background-color: rgb(197, 192, 185);
    border-radius: 50%;
}

.parenthesis-style {
    font-weight: 400;
    font-size: 1.5rem;
}

.discount {
    font-style: italic;
    margin-bottom: 3rem;
}

/* Booking page styles */

#booking-header {
    background-color: rgba(44, 52, 60, .9);
}

#booking-main {
    background: url(../images/booking-background.jpg) no-repeat center center;
    background-size: cover;
    padding: 25vh 0 3rem;
}

#booking-form,
#booking-confirmation {
    max-width: 80vw;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(44, 52, 60, .9);
    color: rgb(255, 255, 255);
}

.booking-confirmation-main {
    padding-bottom: 4rem;
}

#booking-confirmation {
    padding: 2rem;
}

#booking-form h2,
#booking-form legend,
#booking-confirmation {
    font-family: 'Lora', serif;
}

#booking-form h2,
#booking-confirmation p {
    margin-top: 2rem;
}

#booking-confirmation h2 {
    margin-top: 2rem;
}

#booking-confirmation p {
    font-family: 'Nunito', sans-serif;
    margin-top: 6rem;
}

.booking-confirmation-btns {
    margin-top: 6rem;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
}

label,
fieldset {
    font-size: 1.5rem;
}

fieldset legend {
    margin-bottom: 1rem;
}

#grid-inputs {
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 6rem;
    justify-content: flex-start;

}

.grid-item {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.grid-item label {
    margin-right: 1rem;
}

#date-flex,
#class-time-flex {
    display: flex;
    flex-direction: column;
}

#date,
#class-time {
    height: 2rem;
    margin: 0.4rem auto;
}


#flex-form-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#flex-form-btns button,
#flex-form-btns input {
    margin: 2rem auto 4rem;
    border-radius: 0;
}

#flex-form-btns button {
    font-size: 2rem;
}

#flex-form-btns input {
    font-size: 1rem;
}

#email {
    font-size: 0.8rem;
    width: 230px;
}

input,
#class-time {
    border-radius: 20px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
}

#genre-radios input {
    margin-right: 1.5rem;
}

#payment-checkboxes input {
    margin-left: 1.5rem;
}










/* Large and Medium devices (landscape tablets, laptops/desktops 1012 px and down) */
@media only screen and (max-width: 1012px) {

    main {
        font-size: 1.3rem;
    }

    /* logo and nav on two different rows */
    header {
        height: 30vh;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    .hero-outer {
        height: auto;
    }

    /* to contrast overlapping of hero content with header */
    .hero-content-text {
        margin-top: 45%;
        min-width: 80vw;
    }

    .hero-content button {
        min-width: 40%;
    }

    /* instructors page */
    .medium-device-hero-content {
        max-height: 60vh;
        font-size: 1rem;
    }

    .instructor-img img {
        width: 200px;
        height: 200px;
    }

    .instructor-specifics h3 {
        font-size: 2rem;
    }

    td {
        font-size: 0.8rem;
    }

    /* Classes & Prices page */

    #classes-timetable h2,
    #prices h2{
        font-size: 2rem;

    }

    #prices h3{
        font-size: 1.8rem;
    }

    #prices p{
        font-size: 1.5rem;
    }

    .parenthesis-style{
        font-size: 1.2rem;
    }

    /* Booking page */

    form {
        margin-top: 15vh;
    }

    #grid-inputs {
        display: flex;
        flex-direction: column;
    }

    .grid-item {
        justify-content: space-between;
    }

    #booking-confirmation {
        margin-top: 12vh;
    }

    .booking-confirmation-btns {
        flex-wrap: nowrap !important;
        gap: 2rem;
    }

    .booking-confirmation-btns button {
        font-size: 1rem !important;
    }

}

/* small devices (portrait tablets and large phones, 768px and down) */
@media only screen and (max-width: 768px) {

    .genres-wrapper {
        grid-template-columns: 1fr;
        margin: 1rem 0;
    }

    .genre-box {
        margin-bottom: 1rem;
    }

    .genre-label {
        background: rgba(0, 0, 0, 0);
        font-size: 1rem;
        margin-top: 1rem;
    }

    #ballet-box .genre-label,
    #jazz-box .genre-label {
        top: 0;
    }

    #jazz-box .genre-label p {
        text-align: right;
        float: right;
        margin-right: 2rem;
    }

    #contemporary-box .genre-label p {
        text-align: left;
        float: left;
        margin-left: 2rem;
    }


    #meet-the-team {
        display: block;
        text-align: center;
    }

    #meet-the-team-text-box {
        width: 80%;
        margin: 0 auto 2rem;
    }

    #pricing h2 {
        margin: auto 2rem;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer-flex-item:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    footer #social-container {
        display: flex;
        justify-content: space-around;
    }

    /* Instructors page */

    .buttons-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    /* Classes and pricing page */

    #legend-block {
        margin-bottom: 1rem;
    }

    #desktop-classes {
        display: none;
    }

    #small-screen-classes {
        display: block;
    }

    #small-screen-classes table {
        width: -webkit-fill-available;
        margin: 2rem;
    }

    #small-screen-classes th {
        border: 1px solid black;
        padding: 1rem;
    }

    .parenthesis-style{
        display: block;
    }

}



/* small/extra small devices (phones and large phones, 666px and down) */
@media only screen and (max-width: 666px) {

    * {
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
        padding: 0.5rem 0.5rem;
    }

    header {
        height: 10vh;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        z-index: 1;
    }

    #bim-logo h1 {
        font-size: 1.5rem;
    }

    #bim-logo p {
        font-size: 0.8rem;
    }

    .nav-flex-container {
        position: fixed;
        left: -100%;
        top: 10vh;
        flex-direction: column;
        align-items: flex-end;
        background-color: rgb(197, 192, 185);
        width: 100vw;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-flex-container.active {
        left: 0;
    }

    .nav-flex-item {
        margin: 1rem 2.5rem;
    }


    .nav-flex-item a {
        color: rgb(44, 52, 60);
    }
    
    nav a:hover {
        background-color: rgba(44, 52, 60, 0.8);
        border-radius: 2px;
        padding: 0.2rem 1rem;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Fix measures for avoiding hero background image to shrink until the section breaks */
    /* Tested the measures down to 318px */

    .hero-content-text {
        min-width: 90vw;
        padding: 2%;
        margin-top: 10vh;
    }

    .hero-content button {
        max-width: 95vw;
    }

    #genres-taught {
        margin-top: 2rem;
    }

    #genres-taught p {
        line-height: 2rem;
        min-width: 95vw;
        margin: 0 auto;
        padding: 0 1rem;
    }

    #genres-taught h2 {
        margin-top: 2rem;
        font-size: 1.4rem;
    }

    .classes-btn {
        margin-top: 1.5rem;
    }

    #meet-the-team {
        margin-top: 3rem;
        padding: 2rem 0;
    }

    #meet-the-team-btn {
        margin-bottom: 0.5rem;
    }

    #pricing {
        margin-top: 3rem;
    }

    #pricing p {
        line-height: 2rem;
        min-width: 95vw;
    }

    #pricing button {
        margin-top: 2rem;
    }

    #location {
        margin: 3rem 0 0;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-flex-item:nth-child(3) {
        align-self: stretch;
    }

    /* instructors page */

    .instructor-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .instructor-specifics {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .instructor-details p {
        min-width: 80vw;
    }

    /* classes and pricing page */

    #classes-timetable h2 {
        font-size: 1.8rem;
    }

    #legend-block {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
    }

    .price-style{
        font-size: 2rem;
    }

    /* Booking page */

    #booking-main {
        padding-top: 25vh;
    }

    form {
        margin-top: 0;
    }

    form h2 {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    #grid-inputs {
        gap: 3rem;
        margin: 0 2rem;
    }

    .grid-item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    fieldset {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    fieldset legend {
        font-size: 1.5rem;
        max-width: 80%;
        margin-bottom: 1.5rem;
    }

    #genre-radios label,
    #payment-checkboxes label {
        justify-self: flex-start;
    }

    #genre-radios label {
        margin-left: 5rem;
    }

    #flex-form-btns button,
    #flex-form-btns input {
        padding: 0.5rem;
        font-size: 1.3rem;
    }

    label,
    fieldset {
        font-size: 1rem;
    }

    #flex-form-btns {
        flex-direction: column;
        gap: 0.5rem;
    }

    #flex-form-btns .book-btn {
        font-size: 2rem;
    }

    #email {
        font-size: 1.2rem;
        width: auto;
    }

    #booking-confirmation {
        margin-top: 0;
    }

    .booking-confirmation-btns {
        margin-top: 3rem !important;
    }

    .booking-confirmation-btns button {
        margin: 1rem !important;
    }

    #myBtn {
        position: static;
        margin: 2rem auto;
    }
}