@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Nunito:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    color: rgb(42, 40, 44);
}

/* generic rule for all buttons */
button {
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    padding: 1.2rem 1.8rem;
}

/* Header styling */
header {
    width: 100vw;
    height: 16vh;
    background-color: rgba(44, 52, 60, .6);
    font-size: 1rem;
    padding: 0 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    position: absolute;
}

header * {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Lora', serif;
    text-align: center;
}

/* Logo styling */
#bim-logo h1 {
    font-size: 2.8rem;
    font-weight: lighter;
}

#bim-logo hr {
    border-bottom: 1.8px solid;
    width: 100%;
    margin: 0.15rem auto;
}

#bim-logo p {
    letter-spacing: 0.1rem;
}

.nav-flex-container {
    display: flex;
    gap: 4rem;
}

.nav-flex-item {
    list-style-type: none;
    text-transform: uppercase;
}

.active {
    color: rgb(197, 192, 185);
    box-shadow: 0 12px 16px 0 rgba(197, 192, 185, 0.24), 0 17px 50px 0 rgba(197, 192, 185, 0.19);
}

nav a:hover {
    color: rgb(197, 192, 185);
    box-shadow: 0 12px 16px 0 rgba(44, 52, 60, 0.24), 0 17px 50px 0 rgba(44, 52, 60, 0.19);
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
}

/* hero image */
.hero-outer {
    width: 100vw;
    height: 100vh;
    margin-bottom: 4rem;
    background: url(../images/hero-image.jpg) no-repeat 40% 37%;
    background-size: 100%;
}


.hero-content {
    background-color: rgba(44, 52, 60, .4);
    background-size: 100%;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 3rem;
    height: 100%;
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
}

.hero-content-text {
    max-width: 60%;
    background-color: rgba(44, 52, 60, .6);
    border: 1px solid white;
    padding: 2rem;
    align-self: center;
}

.hero-content span {
    font-family: 'Lora', serif;
    font-weight: bold;
}

.book-btn {
    margin-top: 2rem;
    max-width: 25%;

    background-color: rgba(44, 52, 60, .9);
    color: rgb(197, 192, 185);
    box-shadow: 0 12px 16px 0 rgba(197, 192, 185, 0.24), 0 17px 50px 0 rgba(197, 192, 185, 0.19);
    align-self: center;
}

.book-btn:hover {
    background-color: rgb(197, 192, 185);
    color: rgba(44, 52, 60, .9);
    box-shadow: 0 12px 16px 0 rgba(44, 52, 60, 0.24), 0 17px 50px 0 rgba(44, 52, 60, 0.19);
}

/* Genres taught styles */
#genres-taught {
    margin-top: 6rem;
    text-align: center;
}

#genres-taught p {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    line-height: 4rem;
}

#genres-taught h2 {
    font-family: 'Lora', serif;
    text-transform: uppercase;
    margin-top: 5rem;
    font-size: 2.2rem;
    text-align: center;
}

/* grid for laying out genres in two columns and two rows */

.genres-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 320px;

    margin: 3rem;
}

/* background images and styles for each genre box */
#ballet-box {
    background: url(../images/ballet.jpg) no-repeat 20% 40%;
    background-size: cover;
}

#jazz-box {
    background: url(../images/jazz.jpg) no-repeat 20% 40%;
    background-size: cover;
}

#contemporary-box {
    background: url(../images/contemporary.jpg) no-repeat 20% 40%;
    background-size: cover;
}

#afro-box {
    background: url(../images/afro.jpg) no-repeat 20% 40%;
    background-size: cover;
}

.genre-box {
    position: relative;
}

.genre-label {
    width: 100%;
    background-color: rgba(197, 192, 185, 0.4);

    position: absolute;
    text-transform: uppercase;
    font-size: 1.5rem;
}

/* position first row genre labels at the bottom of the container and left align text and do the opposite with the second row */
#ballet-box .genre-label,
#jazz-box .genre-label {
    bottom: 0;
}

#ballet-box .genre-label p,
#jazz-box .genre-label p {
    float: left;
    text-align: left;
    margin-left: 2rem;
}

#contemporary-box .genre-label,
#afro-box .genre-label {
    top: 0;
}

#contemporary-box .genre-label p,
#afro-box .genre-label p {
    float: right;
    text-align: right;
    margin-right: 2rem;
}

.btn-cream-bg {
    background-color: rgb(197, 192, 185);
    color: rgba(44, 52, 60);
    box-shadow: 0 12px 16px 0 rgba(197, 192, 185, 0.24), 0 17px 50px 0 rgba(197, 192, 185, 0.19);
}

.btn-cream-bg:hover {
    background-color: rgba(44, 52, 60, .9);
    color: rgb(197, 192, 185);
    box-shadow: 0 12px 16px 0 rgba(44, 52, 60, 0.24), 0 17px 50px 0 rgba(44, 52, 60, 0.19);
}

.classes-btn {
    text-align: center;
    margin-top: 3.5rem;
}

/* Meet the team section styles */
#meet-the-team {
    background-color: rgb(197, 192, 185);
    margin-top: 8rem;
    padding: 4rem;
    /* flexbox to position content and button inside of the section */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#meet-the-team-text-box {
    font-family: 'Lora', serif;
    width: 40%;
    line-height: 3rem;
}

#meet-the-team-btn {
    background-color: rgba(44, 52, 60, 0.4);
    color: rgb(255, 255, 255);
    box-shadow: 0 12px 16px 0 rgba(197, 192, 185, 0.24), 0 17px 50px 0 rgba(197, 192, 185, 0.19);
}

#meet-the-team-btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgba(44, 52, 60, .9);
    box-shadow: 0 12px 16px 0 rgba(44, 52, 60, 0.24), 0 17px 50px 0 rgba(44, 52, 60, 0.19);
}

/* styles for pricing section */

#pricing {
    text-align: center;
    margin-top: 6rem;
}

#pricing h2 {
    font-family: 'Lora', serif;
}

#pricing p {
    width: 50%;
    margin: 0 auto;
    line-height: 4rem;
}

#pricing button {
    margin-top: 4rem;
}

/* Location styling */
#location {
    text-align: center;
    margin-top: 6rem;
}

iframe {
    width: 100%;
    margin-top: 2rem;
}

/* Footer */

footer {
    background-color: rgb(44, 52, 60);
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    /* Flexbox for making the blocks equal in size and positioned on a single row */
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer>* {
    flex: 1;
}

footer h2 {
    font-family: 'Lora', serif;
    color: rgb(197, 192, 185);
    margin-bottom: 1rem;
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.footer-flex-item {
    flex-grow: 1;
    margin: 2rem;
}

.footer-flex-item:nth-child(2),
.footer-flex-item:nth-child(3) {
    text-align: center;
}

.footer-flex-item:nth-child(3) {
    align-self: center;
}

#social-container {
    /* Grid on social media div to distribute 2 links on each row */
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 6rem;
    height: 100%;
    align-items: center;
}

#social-container>* {
    list-style: none;
}

#social-container i {
    font-size: 2.5rem;
    color: rgb(197, 192, 185);
}



/* Styles for instuctors.html */

.hero-instructors {
    background: url(../images/instructors-img.jpg) no-repeat 40% 37%;
}

.hero-shortened {
    background-size: 100%;
    max-height: 60vh;
}

#instructors-hero-text {
    min-width: fit-content;
    font-family: 'Lora', serif;
}

.instructor-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 2rem;
}

.instructor-2,
.instructor-4 {
    flex-direction: row-reverse;
    background-color: rgb(197, 192, 185);
}

.instructor-specifics h3 {
    font-family: 'Lora', serif;
    font-size: 3.5rem;
}

.instructor-details p {
    max-width: 50vw;
    margin-top: 2rem;
}


.instructor-box img {
    border-radius: 50%;
}

.buttons-section {
    margin: 6rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.buttons-section button {
    margin-top: 0;
}

/* Classes & Pricing styles */

#classes-and-prices-main {
    text-align: center;
}

.hero-classes {
    background: url(../images/classes-img.jpg) no-repeat 40% 49%;
}

#legend-block {
    display: flex;
    justify-content: space-between;
    margin: 2rem 6rem;
}

.level-legend {
    text-align: center;
}

.color-legend {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: inline-block;
}

.beg-legend {
    background-color: rgb(197, 192, 185);
}

.int-legend {
    background-color: rgb(44, 52, 60);
}

#small-screen-classes {
    display: none;
}

table {
    margin: 4rem auto;
    border-spacing: 0;
}

table * {
    border: 1px solid black;
}

th {
    font-family: 'Lora', serif;
}

th:nth-of-type(1) {
    border: none;
}

td {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.5rem;
}

.beg-bg {
    background-color: rgb(197, 192, 185);
}

.int-bg {
    background-color: rgb(44, 52, 60);
    color: rgb(197, 192, 185);
}

.prices {
    margin: 4rem auto;
    width: 70vw;
}

.prices ul {
    list-style-type: circle;
    margin: 3rem 0;
}

.prices li {
    margin-top: 2rem;
}


















/* Large and Medium devices (landscape tablets, laptops/desktops 1012 px and down) */
@media only screen and (max-width: 1012px) {

    main {
        font-size: 1.3rem;
    }

    /* logo and nav on two different rows */
    header {
        height: 30vh;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    .hero-outer {
        height: auto;
    }

    /* to contrast overlapping of hero content with header */
    .hero-content-text {
        margin-top: 40%;
    }

    .hero-content button {
        min-width: 40%;
    }

    /* instructors page */
    .medium-device-hero-content {
        max-height: 60vh;
        font-size: 1rem;
    }

    .instructor-img img {
        width: 200px;
        height: 200px;
    }

    .instructor-specifics h3 {
        font-size: 2rem;
    }

    td {
        font-size: 0.8rem;
    }
}

/* small devices (portrait tablets and large phones, 768px and down) */
@media only screen and (max-width: 768px) {

    .genres-wrapper {
        grid-template-columns: 1fr;
        margin: 1rem 0;
    }

    .genre-box {
        margin-bottom: 1rem;
    }

    .genre-label {
        background: rgba(0, 0, 0, 0);
        font-size: 1rem;
        margin-top: 1rem;
    }

    #ballet-box .genre-label,
    #jazz-box .genre-label {
        top: 0;
    }

    #jazz-box .genre-label p {
        text-align: right;
        float: right;
        margin-right: 2rem;
    }

    #contemporary-box .genre-label p {
        text-align: left;
        float: left;
        margin-left: 2rem;
    }


    #meet-the-team {
        display: block;
        text-align: center;
    }

    #meet-the-team-text-box {
        width: 80%;
        margin: 0 auto 2rem;
    }

    #pricing h2 {
        margin: auto 2rem;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer-flex-item:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    footer #social-container {
        display: flex;
        justify-content: space-around;
    }

    /* Instructors page */
    .buttons-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    /* Classes and pricing page */
    #desktop-classes {
        display: none;
    }

    #small-screen-classes {
        display: block;
    }

    #small-screen-classes table {
        width: -webkit-fill-available;
        margin: 2rem;
    }
}



/* small/extra small devices (phones and large phones, 666px and down) */
@media only screen and (max-width: 666px) {

    * {
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
        padding: 0.5rem 0.5rem;
    }

    header {
        height: 10vh;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        z-index: 1;
    }

    #bim-logo h1 {
        font-size: 1.5rem;
    }

    #bim-logo p {
        font-size: 0.8rem;
    }

    .nav-flex-container {
        position: fixed;
        left: -100%;
        top: 10vh;
        flex-direction: column;
        align-items: flex-end;
        background-color: rgb(197, 192, 185);
        width: 100vw;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-flex-container.active {
        left: 0;
    }

    .nav-flex-item {
        margin: 1rem 2.5rem;
    }

    .nav-flex-item .active {
        text-decoration: underline;
    }

    .nav-flex-item a {
        color: rgb(44, 52, 60);
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Fix measures for avoiding hero background image to shrink until the section breaks */
    /* Tested the measures down to 318px */

    .hero-content-text {
        min-width: 90vw;
        padding: 2%;
        margin-top: 10vh;
    }

    .hero-content button {
        max-width: 95vw;
    }

    #genres-taught {
        margin-top: 2rem;
    }

    #genres-taught p {
        line-height: 2rem;
        min-width: 95vw;
        margin: 0 1rem;
    }

    #genres-taught h2 {
        margin-top: 2rem;
        font-size: 1.4rem;
    }

    #meet-the-team {
        margin-top: 3rem;
        padding: 0.5rem 0;
    }

    #pricing {
        margin-top: 3rem;
    }

    #pricing p {
        line-height: 2rem;
        min-width: 95vw;
    }

    #pricing button {
        margin-top: 2rem;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-flex-item:nth-child(3) {
        align-self: stretch;
    }

    /* instructors page */

    .instructor-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .instructor-specifics {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* classes and pricing page */

    #legend-block{
        display: flex;
        flex-direction: column;
    }
}